body {
    background: #F2F2F2;
    font-family: 'Open Sans', sans-serif;
}
.grid-list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: auto auto auto;
}


.grid-list > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    }


.grid-list::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    }

.grid-list > * {
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4em;
}
.grid-list div:nth-child(1) {
    background: #000000;
}
.grid-list div:nth-child(2) {
    background: #2B8EAD;
}
.grid-list div:nth-child(3) {
    background: #333333;
}
.grid-list div:nth-child(4) {
    background: #6F98A8;
}
.grid-list div:nth-child(5) {
    background: #f2f2f2;
}
.grid-list div:nth-child(6) {
    background: #BFBFBF;
}
.grid-list div:nth-child(7) {
    background: #EFEFEF;
}
.grid-list div:nth-child(8) {
    background: #2F454E;
}
.grid-list div:nth-child(9) {
    background: #72C3DC;
}

.blue {
    background-color: #72C3DC;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    border: none;
}
.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    width: 132px;
}
.container-grid {
    display: grid;
    grid-template-columns: auto 200px;
}

    @media only screen and (max-width: 768px) {

        .container-grid , .grid-list{
            grid-template-columns: auto;
            order: 1;
        }
        .grid-list::before {
            padding-bottom: 0px;
        }
        body {
            background: white;
        }
        .container-grid div.grid-list div {
            background: #F2F2F2;
            color: #000;
            border-bottom: 2px solid white;
        }
        .grid-list div:nth-child(1) {
            border-left:5px  solid #000000;
        }
        .grid-list div:nth-child(2) {
            border-left:5px  solid #2B8EAD;
        }
        .grid-list div:nth-child(3) {
            border-left:5px  solid #333333;
        }
        .grid-list div:nth-child(4) {
            border-left:5px  solid #6F98A8;
        }
        .grid-list div:nth-child(5) {
            border-left:5px  solid #f2f2f2;
        }
        .grid-list div:nth-child(6) {
            border-left:5px  solid #BFBFBF;
        }
        .grid-list div:nth-child(7) {
            border-left:5px  solid #EFEFEF;
        }
        .grid-list div:nth-child(8) {
            border-left:5px  solid #2F454E;
        }
        .grid-list div:nth-child(9) {
            border-left:5px  solid #72C3DC;
        }
    }
